ul {
  list-style: none;
}

body {
  background: #0f0e17;
}

#main {
  width: 80%;
  margin-left: 10%;
}

.container {
  color: #fffffe;
}

h4 {
  color: #a7a9be;
  text-align: justify;
}

h1 {
  color: #ff8906;
}

hr {
  background: #fffffe;
}
