.container {
  width: 80%;
  height: auto;
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  background: purple;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 3px 3px orange, 0px 0px 8px 8px red;
}
.box {
  padding: 8%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 4%;
  align-items: center;
}

body {
  background: aqua;
}

ul {
  list-style: none;
}
