.container {
  width: 80%;
  height: 600px;
  display: flex;
  margin-left: 10%;
  margin-top: 5%;
  background: purple;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 3px 3px orange, 0px 0px 8px 8px red;
}

button {
  border: none;
  padding: 5px;
  font-size: 15px;
  font-weight: 500;
  box-shadow: 3px 3px 1px 2px black;
}

input {
  font-size: 15px;
}
body {
  background: aqua;
}
